﻿
@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>
@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Upload Image" />
    <br><br>
    @ViewBag.Message
    
    <br />
    <img src="@ViewBag.UploadedFile" alt="Sample" width="300px" />
    <br />
    <img src="D://Documents//Images//Avatar.jpg" alt="Sample" width="300px" />
}
